<div class="row contentHeight">
    <div class="cm-md-1 contentHeight">
        <div class="tab-content">
            <div class="tab-pane container active noselect">
                <div class="tab-content">
                <div class="newClientsList" id="newClientsDiv">
                    <div class="card" id="connectionCard">
                        <div class="card-header"><%= newClients%></div>
                        <div class="card-body">
                            <div>
                            <table style="width:100%;">
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="trustedClientsList" id="trustedClientsDiv">
                    <div class="card" id="connectionCard">
                        <div class="card-header"><%= trustedClients%></div>
                        <div class="card-body">
                            <div>
                            <table style="width:100%;">
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="addClientButtonDiv">
                    <button type="button" class="btn btn-primary" id="showAddClientModal"><%= manAddClient%></button>
                </div>
                <div id="troubleShootingDiv"><%= troubleshooting%></div>
            </div>
        </div>
    </div>
</div>