<div class="nav-side-menu">
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-list"></i>

    <div id="menu-list" class="menu-list collapse show">

        <ul id="menu-content" class="list-group menu-content ">

            <li>
                <a href="#connection" data-toggle="tab">
                    <i class="fa fa-link fa-lg"></i> <%= connection%>
                </a>
            </li>

            <li>
                <a href="#statistics" data-toggle="tab">
                    <i class="fa fa-chart-line fa-lg"></i> <%= statistics%>
                </a>
            </li>

            <li>
                <a href="#config" data-toggle="tab">
                    <i class="fa fa-cogs fa-lg"></i> <%= settings%>
                </a>
            </li>

            <li>
                <a href="#installation" data-toggle="tab">
                    <i class="fa fa-hdd fa-lg"></i> <%= installation%>
                </a>
            </li>

            <li>
                <a href="#logs" data-toggle="tab">
                    <i class="fa fa-table fa-lg"></i> <%= logs%>
                </a>
            </li>

            <li>
                <a href="#about" data-toggle="tab">
                    <i class="fa fa-info-circle fa-lg"></i> <%= about%>
                </a>
            </li>
            <li class="menu-list-language">
                <a>
                    <i class="fa fa-globe fa-lg"></i> <%= languages%>
                    <div style="text-align: end; width: 102px;" id="localeSelectorV">
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div id="menu-list-bottom" class="menu-list-bottom collapse show">
        <ul id="menu-content-bottom" class="list-group menu-content ">
            <li id="settingUploadPreset">
            </li>
            <li>
                <a id="restartSteamVRButton">
                    <i class="fa fa-sync-alt fa-lg"></i> <%= restartSteamVR%>
                </a>
            </li>
            <li>
                <a>
                    <i class="fa fa-globe fa-lg"></i> <%= languages%>
                    <div style="text-align:center" id="localeSelector">
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="content">

    <div class="contentHeight">
        <div class="tab-content contentHeight">
            <div class="tab-pane alvrSection contentHeight active" id="connection">
                <h2><%= connection%></h2>
            </div>

            <div class="tab-pane alvrSection fade noselect contentHeight" id="statistics">
                <h2><%= statistics%></h2>
            </div>

            <div class="tab-pane alvrSection fade noselect contentHeight" id="config">
                <h2><%= settings%></h2>
                <div class="row contentHeight">
                    <div class="cm-md-1 contentHeight" id="configContainer">
                        <ul class="nav nav-tabs" id="configTabs">

                        </ul>

                        <div class="tab-content" id="configContent">
                            <div id="toggleAdvanced"> <%= toggleAdvanced%>
                                <i class="fas fa-toggle-on"></i>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="tab-pane alvrSection fade" id="installation">
                <h2><%= installation%></h2>
                <button id="runSetupWizard" type="button" class="btn btn-primary"> <%= runSetupWizard%> </button>
                <br /> <br />
                <button id="addFirewallRules" type="button" class="btn btn-primary"> <%= addFirewallRules%> </button>
                <button id="removeFirewallRules" type="button" class="btn btn-primary"> <%= removeFirewallRules%>
                </button>
                <div id="registeredDriversInst"></div>
            </div>

            <div class="tab-pane alvrSection fade contentHeight" id="logs">
                <h2><%= logs%></h2>
                <table id="loggingTable">
                </table>
            </div>

            <div class="tab-pane alvrSection fade" id="about">
                <h2><%= about%></h2>
                <br />
                <h4>ALVR server <span id="version"></span></h4>
                <%= aboutText%>
                <br /> <br />
                <button id="openReleasePage" type="button" class="btn btn-primary"><%= openReleasePage%></button>
                <button id="checkForUpdates" type="button" class="btn btn-primary"> <%= checkForUpdates%> </button>
            </div>
        </div>
    </div>
</div>
